# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Virtual environments
venv/
.env/

# History files
.history/

.DS_Store
._*

# ignore SLEAP project files such as models and labels
.slp